.App {
  text-align: center;
}

.jumbotron {
  padding: 50px;
  background-image: url("./background.jpg");
  background-size: cover;
  background-position: bottom;
  color: white;
}
.item {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
